@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  color: aliceblue;
}

html {
  font-size: 1vw;
}

body {
  min-height: 100vh;
}

.page-container {
  font-family: "JetBrains Mono", monospace;
  animation: page-blur 1s linear;
}

.row {
  width: 100%;
}

header, footer {
  background: linear-gradient(to right, #6ab43e, #00B712);
  font-family: Sora, sans-serif;
  box-shadow: 0 0 1vw gray;
}

header {
  position: sticky;
  left: 0;
  top: 0;
  translate: none;
}
header a:first-child {
  margin-left: 3.25vw;
}
header .nav-link {
  color: aliceblue;
}
header .nav-link:hover {
  color: aliceblue;
}

footer {
  width: 100%;
  flex-wrap: wrap;
}
footer div {
  margin-left: 12.5vw;
  margin-right: 12.5vw;
}

table {
  margin-top: 2.5vh;
}

dt, dd {
  padding-left: 2.5vh;
}

input {
  padding: 0.25vh 0.5vw;
  background: transparent;
  border: none;
  border-bottom: 0.125vw solid aliceblue;
  transition: all 0.2s ease-out 0.1s;
}
input:focus {
  border-color: lightgrey;
  outline: none;
}
input:focus:not(input[type=submit]) {
  width: 16.125vw;
}
input:not(input[type=submit]) {
  width: 14.125vw;
}
input[type=submit] {
  width: 12vw;
}

.nav-link {
  font-size: 1.125vw;
  transition: all 0.2s ease-out 0.1s;
}
.nav-link:hover {
  opacity: 0.75;
  color: aliceblue;
}

.network-bullet, .network-link {
  color: aquamarine;
  transition: all 0.2s ease-out 0.1s;
}
.network-bullet:hover, .network-link:hover {
  opacity: 0.75;
  color: aquamarine;
}

.list-name {
  margin-left: 2.5vw;
}

.side-list-name, .list-name {
  margin-top: 2.5vh;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}

.main-list {
  padding-left: 2.5vw;
}

#experience-list dd, #experience-list dt {
  padding-left: 2.5vw;
}

.data-header, .data-text, .label-text {
  margin: 0;
}

.footer-heading {
  margin-top: 2.5vh;
  font-size: 1vw;
}

.network-icon {
  width: 1.5vw;
  height: 1.5vw;
  margin-bottom: 1vh;
}
.network-icon:not(#insta-icon) {
  margin-top: 1vh;
}

.footer-list {
  padding: 0;
  font-size: 0.85vw;
  list-style-type: none;
}
.footer-list li {
  margin-bottom: 1.5vh;
}
.footer-list li a {
  color: aliceblue;
  text-decoration: none;
}
.footer-list li a:hover {
  opacity: 0.75;
  color: aliceblue;
  text-decoration: underline;
}

.break {
  height: 0;
  flex-basis: 100%;
}

#main-content {
  padding-bottom: 2.5vh;
}

#nav-data {
  margin-top: -2vh;
}

#pfp-button {
  padding: 0;
  border: 0;
}

#pfp-button, #pfp {
  transition: transform 2s;
}
#pfp-button:hover, #pfp:hover {
  transform: scale(87.5%);
}

#fn-row {
  margin-top: -0.25vh;
}

#full-name {
  margin-top: 3vh;
}

#sp-link2 {
  margin-top: 5vh;
}

#contacts-container {
  flex-direction: column;
}
#contacts-container a:hover {
  opacity: 0.75;
  color: aliceblue;
}

#insta-icon {
  margin-top: 0.5vh;
}

#copyright-heading {
  font-style: italic;
}

.form-label {
  margin-left: 4.375vw;
  padding-top: 1.5vh;
  padding-left: 1vw;
}

.input-btn {
  padding: 0.75vh 0;
  background: transparent;
  color: aliceblue;
  border: 0.125vw solid aliceblue;
  border-radius: 0.5vw;
  transition: all 0.2s ease-out 0.1s;
}
.input-btn:hover {
  background-color: aliceblue;
  color: #6ab43e;
  border-color: transparent;
  box-shadow: lightgrey 0 0.5vw;
}
.input-btn:active {
  box-shadow: lightgrey 0 0.375vw;
}

.req-star {
  padding-left: 0.25vw;
  padding-top: 1.25vh;
  color: #fd4084;
}

#form {
  width: 25vw;
  padding-top: 2.5vh;
  padding-bottom: 1.25vh;
  background: linear-gradient(to right, #6ab43e, #00B712);
  border-radius: 1.25vw;
  box-shadow: green 0 1vw;
  z-index: 1;
  animation: slide 1s linear;
}

#form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-title {
  margin-top: 3.75vh;
  font-family: Sora, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

#submit {
  margin-top: 3.75vh;
  margin-bottom: 2.5vh;
}

#user-block {
  padding-bottom: 3.75vh;
}

#data-delimiter {
  border-bottom: 0.05vh solid black;
  margin-bottom: 1.25vh;
  transition: opacity 1s;
}

#return-link:hover {
  opacity: 0.75;
  color: aliceblue;
}

.carousel-3d-btn {
  background-color: rgb(35, 35, 35);
  border: none;
  font-size: 2.5vw;
  transition: all 0.2s ease-out 0.1s;
}
.carousel-3d-btn:hover {
  opacity: 0.75;
  color: aliceblue;
  transform: scale(1.35);
}

.card {
  position: absolute;
  width: 20vw;
  background: linear-gradient(to right, #6ab43e, #00B712);
  box-shadow: green 0 0.75vw;
  transition: transform 2s;
}

.card-body {
  background: linear-gradient(to right, #6ab43e, #00B712);
}

.card-img-top {
  height: 32.5vh;
}

.card-body {
  background-color: white;
  flex-direction: column;
}
.card-body a {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  background-color: aliceblue;
  color: #6ab43e;
  border-radius: 0.25vw;
  font-weight: bolder;
  text-decoration: none;
  box-shadow: lightgrey 0 0.375vw;
  transition: all 0.2s ease-out 0.1s;
}
.card-body a:active {
  box-shadow: lightgrey 0 0.25vw;
}
.card-body a:after {
  opacity: 0;
  content: " →";
}
.card-body a:hover {
  color: #6ab43e;
  padding-left: 2vw;
  padding-right: 0.5vw;
  text-indent: -1vw;
}
.card-body a:hover:after {
  opacity: 1;
  text-indent: 0;
}

.card-title {
  font-family: Sora, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}

.card-text {
  padding-left: 0.5vw;
  font-family: "Montserrat", sans-serif;
  border-left: 0.125vw solid aliceblue;
}

.card-title, .card-text {
  color: aliceblue;
}

#projects-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#trello-card {
  z-index: 2;
}

#time-manager-card {
  transform: scale(1.35);
  z-index: 3;
}

#audio-manager-card {
  z-index: 1;
}

.timer-button {
  width: 7.5vw;
  height: 7.5vw;
  padding: 0;
  background-color: rgb(35, 35, 35);
  color: aliceblue;
  font-size: 1.5vw;
  font-weight: bold;
  border: 0.5vw double aliceblue;
  border-radius: 10vw;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}
.timer-button:hover {
  background-color: aliceblue;
  color: rgb(35, 35, 35);
  border: 0.5vw double rgb(35, 35, 35);
}

#time-msg-container {
  margin-top: 37.5vh;
}

#time-msg {
  font-size: 5vw;
}

#timer-buttons {
  margin-top: 27.5vh;
  gap: 15vw;
}

#audio-manager {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

@keyframes page-blur {
  0% {
    -webkit-filter: blur(3vw);
  }
  50% {
    -webkit-filter: blur(1.5vw);
  }
  100% {
    -webkit-filter: blur(0vw);
  }
}
@keyframes slide {
  0% {
    top: -50vh;
  }
  50% {
    top: 0vh;
  }
  100% {
    top: 50vh;
  }
}
/*------------------------------------------------------------------------------------------------------------------------------*/
/*MEDIA QUERIES*/
@media only screen and (max-width: 539px) {
  header {
    height: 22.5vh;
  }
  footer div {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .side-list-name {
    margin-left: 2.5vw;
  }
  .side-list {
    padding-left: 2.5vw;
  }
  #pfp-button, #pfp {
    width: 8vw;
    height: 8vw;
  }
  #side-panel {
    border-top: 0.125vh solid rgba(255, 255, 255, 0.1);
  }
}
@media only screen and (min-width: 540px) and (max-width: 719px) {
  header {
    height: 22.5vh;
  }
  .side-list-name {
    margin-left: 2.5vw;
  }
  .side-list {
    padding-left: 2.5vw;
  }
  #pfp-button, #pfp {
    width: 8vw;
    height: 8vw;
  }
  #side-panel {
    border-top: 0.125vh solid rgba(255, 255, 255, 0.1);
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  header {
    height: 22.5vh;
  }
  .side-list-name {
    margin-left: 2.5vw;
  }
  .side-list {
    padding-left: 2.5vw;
  }
  #pfp-button, #pfp {
    width: 8vw;
    height: 8vw;
  }
  #side-panel {
    border-top: 0.125vh solid rgba(255, 255, 255, 0.1);
  }
}
@media only screen and (orientation: portrait) {
  html {
    font-size: 2.25vw;
  }
  header {
    height: 12.5vh;
  }
  footer div {
    margin-left: 2.5vw;
  }
  .nav-link {
    font-size: 2.75vw;
  }
  .list-name, .side-list-name {
    margin-left: 6.25vw;
  }
  .main-list:not(#experience-list) {
    padding-left: 6.25vw;
  }
  .side-list {
    padding-left: 6.25vw;
  }
  #experience-list dd, #experience-list dt {
    padding-left: 6.25vw;
  }
  .footer-heading {
    font-size: 2.5vw;
  }
  .network-icon {
    width: 5vw;
    height: 5vw;
  }
  .footer-list li {
    font-size: 2.25vw;
  }
  #pfp-button, #pfp {
    width: 20vw;
    height: 20vw;
  }
  #side-panel {
    border-top: 0.125vh solid rgba(255, 255, 255, 0.1);
  }
  input:not(input[type=submit]) {
    width: 37.5vw;
  }
  input[type=submit] {
    width: 32.5vw;
  }
  .label-text {
    font-size: 2.5vw;
  }
  #form {
    width: 75vw;
  }
  .carousel-caption {
    margin-bottom: 2.5vh;
  }
  .carousel-heading {
    font-size: 4.25vw;
  }
  .carousel-par {
    font-size: 4vw;
  }
}
/*LG screen*/
@media only screen and (min-width: 960px) and (max-width: 1139px) {
  header {
    height: 22.5vh;
  }
  #pfp-button, #pfp {
    width: 8vw;
    height: 8vw;
  }
  #side-panel {
    border-left: 0.125vw solid rgba(255, 255, 255, 0.1);
  }
}
/*XL screen*/
@media only screen and (min-width: 1140px) and (max-width: 1319px) {
  header {
    height: 22.5vh;
  }
  #pfp-button, #pfp {
    width: 8vw;
    height: 8vw;
  }
  #side-panel {
    border-left: 0.125vw solid rgba(255, 255, 255, 0.1);
  }
}
/*XXL screen*/
@media only screen and (min-width: 1320px) {
  header {
    height: 22.5vh;
  }
  #pfp-button, #pfp {
    width: 8vw;
    height: 8vw;
  }
  #side-panel {
    border-left: 0.125vw solid rgba(255, 255, 255, 0.1);
  }
}
/*------------------------------------------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 1vw;
  background-color: rgba(25, 25, 28, 0.96);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.55);
}

/*# sourceMappingURL=style.css.map */
